
@import "../utilidades/mixin";

/* estilos de main*/

main{
    @include grid (grid, 1fr, repeat(3, auto));
    padding: 1.5rem;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-style:solid;
            border-color: $color-h;
        }
        h1{
            text-align: center;
            text-decoration-line: underline;
        }
        h1,h2,h3,h4,h5,h6{
            color: $color-h;
        }
    }
}

/* estilos footer */

footer{
    background-color:#6c757d ;
    margin-top: 2rem;
    color: whitesmoke;
    text-align: center;
}


