//import de mixin grid
@import "../utilidades/mixin";

/* estilos desktop */

@media screen and (min-width: 1024px){
    main{
        @include grid(grid, repeat(3, 1fr),repeat(4, auto));
        .informacion, .seccion2, .seccion3{
         grid-column: span 2;
         border-bottom-style: solid  ;
         margin: 2rem;
        }
        .img-1, .img-2, .img-3 .img-4{
         width: 50%;
         justify-self: center;
         margin: 4rem;
        }
    }
}